In [14]:
#1
def average(array):
    set_array=set(array)
    lst_array=list(set_array)
    count=len(lst_array)
    sum=0
    for i in lst_array:
        sum=sum+i
    
    avr=sum/count
    return avr

n = int(input())
arr = list(map(int, input().split()))
result = average(arr)
print(result)

5
43 65 73 46 82
61.8

In [40]:
#2
integers=list(map(int, input().split()))
n=integers[0]
m=integers[1]
array=list(map(int, input().split( )))
A=set(map(int, input().split( )))
B=set(map(int, input().split( )))

count=0
for i in array:
    if i in A:
        count=count+1
    elif i in B:
        count=count-1
print(count)

5 2
4 5 6 2 7
3 4
2 1
0

In [50]:
#3
M=int(input())
set_A=set(map(int, input().split( )))
N=int(input())
set_B=set(map(int, input().split( )))
set_A.symmetric_difference(set_B)

4
5 6 7 -20
5
-29 4 5 6 7

{-29, -20, 4}

In [53]:
#4
M=int(input())
set_A=set(map(int, input().split( )))
N=int(input())
set_B=set(map(int, input().split( )))
sym_diff=set_A.symmetric_difference(set_B)
lst=sorted(list(sym_diff))
for i in lst:
    print(i)

5
4 5 6 2 7 2
4
5 2 7 -10
-10
4
6

In [58]:
#5
N=int(input())
cntry_name=list(map(str, input().split()))
cntry_name=set(cntry_name)
count=len(list(cntry_name))
print(count)

5
UK India USA Aus UK
4

In [59]:
N = int(input())
cntry = set()
for i in range(N):
    cntry.add(input())
print(len(cntry))

5
UK
India
Japan
Australia
India
4

In [60]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
ans = [[i, j, k] for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if i + j + k != n]
print(ans)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [64]:
n = int(input())
arr = map(int, input().split())
arr=list(arr)
a=max(arr)
c=arr.count(a)
for i in range(c):
    arr.remove(a)
print(max(arr))

5
4 5 2 6 6
5

In [66]:
n = int(input())
s = set(map(int, input().split()))
N = int(input())
for i in range(N):
    command = list(map(str, input().split()))
    if command[0] == "pop":
        s.pop()
    elif command[0] == "remove":
        try:
            s.remove(int(command[1]))
        except:
            continue
    elif command[0] == "discard":
        try:
            s.discard(int(command[1]))
        except:
            continue
print(sum(s))

10
1 2 3 4 5 6 7 8 9 10
5
remove 9
discard 8
pop
remove 6
discard 7
24

In [67]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.union(french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

In [69]:
dictionary={}
lst=[]
for students in range(int(input())):
    name = input()
    score = float(input())
    if score in dictionary:
        dictionary[score].append(name)
    else:
        dictionary[score]=[name]
    if score not in lst:
        lst.append(score)

        
a=min(lst)
lst.remove(a)
aa=min(lst)
dictionary[aa].sort()
for i in dictionary[aa]:
    print(i)

5
siya
23.5
piya
34.6
riya
56.3
jiya
23.5
miya
34
miya

In [70]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.intersection(french)))

9
1 2 3 4 5 6 7 8 9
9
31 43 1 2 3 4 6 8 9
7

In [74]:
n = int(input())
student_marks = {}
for i in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
tot=0
for i  in student_marks[query_name]:
    tot=tot+i
print("{0:.2f}".format(tot/3))

4
jiya 30 50 60
piya 40 50 70
riya 50 70 30
siya 60 70 30
piya
53.33

In [77]:
N = int(input())
lst=[]
for i in range(N):
    s=input().split()
    for i in range(1, len(s)):
        s[i]=int(s[i])
            
    if s[0]=="append":
        lst.append(s[1])
    elif s[0]=="insert":
        lst.insert(s[1],s[2])
    elif s[0]=="remove":
        lst.remove(s[1])
    elif s[0]=="pop":
        lst.pop()
    elif s[0]=="sort":
        lst.sort()
    elif s[0]=="reverse":
        lst.reverse()
    elif s[0]=="print":
        print(lst)

12
insert 0 5
insert 1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [78]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.difference(french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

In [79]:
n=int(input())
english=set(map(int, input().split()))
m=int(input())
french=set(map(int, input().split()))
print(len(english.symmetric_difference(french)))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

In [80]:
n = int(input())
integer_list = map(int, input().split())
integer_list=tuple(integer_list)
print(hash(integer_list))

2
1 2
-3550055125485641917

In [84]:
for i in range(int(input())):
    a = int(input())
    set_a = set(map(int, input().split()))
    b = int(input())
    set_b = set(map(int, input().split()))
    if len(set_a - set_b) == 0:
        print("True")
    else:
        print("False")

3
5
1 2 3 5 6
9
9 8 5 6 3 2 1 4 7
True
1
2
5
3 6 5 4 1
False
7
1 2 3 5 6 8 9
3
9 8 2
False

In [86]:
#set mutation
n=int(input())
A=set(map(int, input().split()))
N=int(input())
for i in range(N):
    command=list(map(str, input().split()))
    if command[0]=='update':
        A.update(set(map(int, input().split())))
    elif command[0]=='intersection_update':
        A.intersection_update(set(map(int, input().split())))
    elif command[0]=='difference_update':
        A.difference_update(set(map(int, input().split())))
    elif command[0]=='symmetric_difference_update':
        A.symmetric_difference_update(set(map(int, input().split())))
print(sum(A))

16
1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
intersection_update 10
2 3 5 6 8 9 1 4 7 11
update 2
55 66
symmetric_difference_update 5
22 7 35 62 58
difference_update 7
11 22 35 55 58 62 66
38

In [87]:
A=set(map(int, input().split()))
n=int(input())

N1=set(map(int, input().split()))
N2=set(map(int, input().split()))    
if (A.issuperset(N1)) and (A.issuperset(N2)):
    print(True)
else:
    print(False)

1 2 3 4 5 6 7 8 9 10 11 12 23 45 84 78
2
1 2 3 4 5
100 11 12
False

In [101]:
K=int(input())
room_list=list(map(int, input().split()))
unique_rooms=dict()
for i in room_list:
    if i not in unique_rooms:
        unique_rooms[i]=1
    else:
        unique_rooms[i]+=1
        
for room_no, count in unique_rooms.items():
    if count==1:
        print(room_no)

3
1 2 3 1 2 3 1 2 3 4
4